.myacc{
  &__common{
    &__title{
      @extend .fz-28;
      line-height: 1.32;
      color: #676767;
      font-family: $font-Segoe-UI;
      .myacc__investment &{
        margin-bottom: 29px;
      }
    }
  }
  &__started{
    @include media-breakpoint-up('m'){
      margin-bottom: 51px;
    }
    &__title{
      margin-bottom: 8px;
      line-height: 1.32;
      @extend .fz-28;
      color: #676767;
      span{
        font-family: $font-Segoe-UI-Bold;
      }
    }
    &__desc{
      @extend .fz-14;
      line-height: 1.36;
      color: #676767;
    }
  }
  &__market{
    @include media-breakpoint-up('m'){
      margin-bottom: 79px;
    }
    &__card{
      border-radius: 10px;
      box-shadow: 0 3px 15px 0 rgba(0, 0, 0, 0.05);
      border: solid 1px #e4e4e4;
      background-color: #fff;
      position: relative;
      padding: 20px;
      padding-left: 15px;
      @include media-breakpoint-up('m'){
        padding-left: 33px;
      }
      padding-right: 18.6px;
      padding-bottom: 15px;
      &__brandName{
        @extend .fz-17;
        line-height: 1.29;
        color: #000;
      }
      &__info{
        @extend .fz-14;
        color: #cbcbcb;
      }
      &__logo{
        width: 20px;
      }
      &__percent{
        &__img{
          width: 8px;
        }
        right: 18.6px;
        top: 18px;
        font-family: $font-Segoe-UI-Semibold;
        &.raise{
          color: #3fc03b;
        }
        &.reduce{
          color: #e86666;
        }
        span{
          @extend .fz-14;
          line-height: 1.36;
        }
      }
      &__number{
        margin-top: 9px !important;
        &__txt1{
          @extend .fz-33;
          font-family: $font-Segoe-UI-Semibold;
          line-height: 1.33;
          color: #676767;
          margin-bottom: 2px;
        }
        &__txt2{
          @extend .fz-14;
          line-height: 1.36;
          color: #676767;
        }
      }
    }
  }
  &__Community{
    @extend .myacc__investment;
  }
  &__Stellar{
    @extend .myacc__investment;
    &__filterBox{
      border-radius: 5px;
      background-color: #e4e4e4;
      padding: 6px 12px;
      padding-bottom: 7px;
      margin-bottom: 24px;
      &__a{
        font-family: $font-Segoe-UI-Semibold;
        @extend .fz-14;
        line-height: 1.36;
        color: #676767;
        padding: 4px 7px 5px 6px;
        &.uk-active{
          border-radius: 5px;
          box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.16);
          background-color: #fff;
        }
      }
    }
  }
  &__asset{
    @extend .myacc__investment;
    .wallet &{
      @include media-breakpoint-up('m'){
        margin-bottom: 45px !important;
      }
    }
    &__margin{
      margin-top: 29px !important;
      .wallet &{
        @include media-breakpoint-up('m'){
          margin-top: 51px !important;
        }
      }
    }
    &__btnShow{
      text-transform: inherit;
      border-radius: 5px;
      border: solid 1px #001c9b;
      color: #001c9b;
      @extend .fz-12;
    }
    &__marginTop{
      margin-top: 45px;
    }
    &__card{
      border-radius: 5px;
      box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.04);
      &:focus{
        outline: none;
      }
    }
    &__table{
      &__txt{
        @extend .fz-14;
        line-height: 1.36;
        color: #676767;
        .investment__tooltip__box1 &{
          @extend .fz-16;
        }
      }
      &__img{
        width: 28px;
      }
      &__c1{
        font-family: $font-Segoe-UI-Semibold;
        @extend .fz-14;
        line-height: 1.36;
        color: #676767;
      }
      &__c2{
        @extend .fz-12;
        line-height: 1.33;
        color: #a2a2a2;
      }
      thead{
        tr{
          th{
            font-family: $font-Segoe-UI-Semibold;
            @extend .fz-14;
            line-height: 1.36;
            color: #a2a2a2;
          }
        }
      }
      tbody{
        tr{
          &:not(:first-child){
            border-top: 1px dashed #e4e4e4;
          }
        }
      }
    }
  }
  &__investment{
    @include media-breakpoint-up('m'){
      margin-bottom: 34px;
    }
    &__title{
      font-family: $font-Segoe-UI-Semibold;
      @extend .fz-14;
      line-height: 1.36;
      color: #a2a2a2;
      margin: 0;
      margin-bottom: 15px;

      //height: 19px;
    }
    &__card{
      border-radius: 5px;
      box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.04);
      padding-right: 20px;
      padding-left: 15px;
      @include media-breakpoint-up('m'){
        padding-left: 46px;
      }
      position: relative;
      &__star{
        .fa{
          @extend .fz-34;
          color: #001c9b;
        }
      }
      &__bannerTxt{
        font-family: $font-Segoe-UI-Semibold;
        @extend .fz-28;
        line-height: 1.32;
        color: #e4e4e4;
      }
      &__txt3{
        font-family: $font-Segoe-UI-Semibold;
        @extend .fz-14;
        line-height: 1.36;
        color: #a2a2a2;
      }
      &__txt1{
        font-family: $font-Segoe-UI-Semibold;
        @extend .fz-18;
        line-height: 1.33;
        color: #676767;
        &--green{
          color: #3fc03b;
        }
      }
      &__txt2{
        @extend .myacc__investment__title;
        margin: 0;
      }
    }
  }
}