.wallet{
  &__btnBox{
    margin-bottom: 29px;
    &__btn{
      @extend .fz-16;
      >*{
        line-height: 1.31;
      }
      color: #fff;
      border-radius: 5px;
      background-color: #001c9b;
      &:hover{
        background-color: #444fa1;
      }
      width: 100%;
      @include media-breakpoint-up('s'){
        width: inherit;
      }
    }
  }
  &__selectOption{
    border-radius: 5px;
    border: solid 1px #e4e4e4;
    background-color: #cbcbcb;
    color: #fff;
    @extend .fz-12;
    text-transform: inherit;
    white-space: nowrap;
  }
}