.withdraw{
  &__Authentication{
    &__title{
      font-family: $font-Segoe-UI-Semibold;
      @extend .fz-28;
      line-height: 1.32;
      color: #676767;
      margin-bottom: 8px;
      .investment &{
        @extend .fz-40;
      }
    }
    &__desc{
      @extend .fz-14;
      line-height: 1.36;
      color: #676767;
      margin-bottom: 20px;
      @include media-breakpoint-up(''){
        margin-bottom: 51px;
      }
    }
    &__btn{
      @extend .fz-16;
      color: #ffffff;
      border-radius: 5px;
      background-color: #001c9b;
      text-transform: inherit;
    }
  }
  &__selectCoin{
    &__label{
      &__txt1{
        @extend .fz-14;
        line-height: 1.36;
        color: #676767;
      }
      &__txt2{
        font-family: $font-Segoe-UI-Semibold;
        @extend .fz-14;
        line-height: 1.36;
        color: #3fc03b;
        &--c1{
          color: #f6921a;
        }
      }
      &__txt3{
        font-family: $font-Segoe-UI-Semibold;
        @extend .fz-14;
        line-height: 1.36;
        color: #676767;
      }
    }
    &__input{
      @extend .fz-14;
      color: #a2a2a2;
      height: 42px !important;

      border-radius: 5px;
      border: solid 1px #cbcbcb;
      background-color: #fcfcfc;
    }
    &__withdraw{
      &__txt1{
        @extend .fz-14;
        line-height: 1.36;
        color: #676767;
      }
      &__txt2{
        @extend .fz-14;
        line-height: 1.36;
        color: #676767;
        font-family: $font-Segoe-UI-Semibold;
      }
    }
  }
  &__modal{
    &__body{
      padding: 30px;
    }
    &__title{
      font-family: $font-Segoe-UI-Semibold;
      @extend .fz-28;
      line-height: 1.32;
      color: #676767;
      margin-bottom: 31px;
    }
    &__boxNote{
      border-radius: 5px;
      background-color: #f6f6f6;
      padding: 0px;
      .uk-table{
        margin: 0;
        tr{
          th,td{
            padding: 8px 12px;
          }
          th{
            text-transform: inherit;
            >*{
              @extend .fz-13;
              line-height: 1.36;
              color: #a2a2a2;
            }
          }
          td{
            >*{
              @extend .fz-13;
              line-height: 1.36;
              color: #676767;
              word-break: break-all;
            }
          }
        }
      }
    }
    &__getcode{
      font-family: $font-Segoe-UI-Semibold;
      @extend .fz-14;
      line-height: 2;
      color: #f6921a;
    }
    &__smallNote{
      @extend .fz-12;
      color: #a2a2a2;
    }
    &__label{
      font-family: $font-Segoe-UI-Semibold;
      @extend .fz-14;
      color: #676767;
    }
    &__underline{
      @extend .fz-14;
      color: #676767;
      text-decoration: underline;
    }
  }
}